<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.css">
    <link rel="stylesheet" href="/public/stylesheets/style.css">
    <title>Cadastro - LiveU</title>
</head>

<body>

    <div class="left">
        <img src="/public/images/pessoa-login.png" alt="">
    </div>

    <div class="right">
        <div class="form-header">
            <p> LiveU</p>
        </div>

        <h1>Dados de cadastro: </h1>

        <form action="" method="POST">



            <label for="">Nome:
                <input type="text" id="inputNome">
            </label>
            <label for="">Sobrenome:
                <input type="text" id="inputSobrenome">
            </label>

            <label for="">E-mail:
                <input type="email" id="inputEmail">
            </label>

            <button type="submit" id="buttonEnviar">Enviar </button>
        </form>

        <div id="modal"></div>


    </div>



    <script src="/public/javascripts/script.js"></script>
</body>

</html>